*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
p{
    color:rgb(82, 37, 0);
}
body,html{
    width: 100%;
    height: 100%;
}
br{width: 100%;}

:root{
    --titlu:4vmin;
    --paragraf:2.5vmin;
    --link:2vmin;
    --back: linear-gradient(180deg, rgb(224, 169, 116), rgb(255, 231, 196));
}